*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,ul,p,span,ol{
    margin: 0;
    padding: 0;
}
body{
    font-family: "arial";
}

/* common css ends here */

section{
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}
.counter{
    max-width: 300px;
}
.counter *{
    width: 33.33%;
    height: 50px;
    font-size: 25px;
    text-align: center;
}
.passwordField{
    position: relative;
}
.passwordField input{
    width: 450px;
    height: 50px;
    border-radius: 25px;
    border: none;
    border: 1px solid #888;
    padding: 0 20px;
}
.passwordField button.passwordBtn{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
}

.product{
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
}